<html>

<head>

</head>

<body>

<form>
  <table>
  <tr>
      <td>
      name:
      </td>
      <td>
        <input #name/>
      </td>
  </tr>
  <tr>
      <td>
        lastname:
      </td>
      <td>
        <input #lastName/>
      </td>
  </tr>
  <tr>
      <td>
        dep. id:
      </td>
      <td>
      <input #depId/>
      </td>
  </tr>
  <tr>
  <td></td>
  <td>
    <button (click) = "add(name.value, lastName.value, depId.value); $event.stopPropagation()">
    Add
  </button>
    </td>
  </tr>

  </table>

</form>

<table  border="0" cellspacing="0" cellpadding="0">

  <tr align="middle" valign="middle">
    <td>
      <label> Employees </label>
    </td>

    <button (click)="getAllEmployees()">get</button>

    <td>
    </td>
    <td>

    </td>
  </tr>
  <tr align="middle"  *ngFor = "let e of employees; let num = index">

    <td  align="middle">
      {{e.name}}&nbsp;
    </td>
      {{e.lastName}}
    <td>
    </td>

    <td>
      <button (click) = "deleteEmployee(e); $event.stopPropagation()">
       delete
      </button>
    </td>

  </tr>

</table>

</body>
</html>
